[package]
name = "atomicring"
version = "1.0.2"
authors = ["Crown Software GmbH"]
description = "AtomicRingBuffer is a constant-size almost lock-free concurrent ring buffer"
license = "MIT OR Apache-2.0"
repository = "https://github.com/eun-ice/atomicring"


[features]
index_access = []

default = ["index_access"]

[dependencies]
parking_lot = "0.5.5"

[dev-dependencies]
mpmc = "0.1.5"

